Flask==2.0.1
networkx==2.6.3
spacy==3.5.0
node2vec==0.4.3
scikit-learn==0.24.2
requests==2.26.0
python-louvain==0.15
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
